{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-l-8 offset-l-2 col-xl-6 offset-xl-3">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal big-title">Connexion</h1>

                <div class="row">
                    <div class="col-6 offset-3 login-form">
                        <div class="row m-t-20">
                            <div class="col-12">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>
                        </div>
                        <div class="row m-t-20">
                            <div class="col-12">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>
                        </div>

                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="row m-t-20">
                            <div class="col 12">
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me" class="m-r-20">Se souvenir de moi
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Se connecter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
