.big-title {
  font-size: 5vw;
  text-transform: uppercase;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top:0;
  font-weight: 900;
  z-index: -1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
